<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympic Introduction</title>
  <link rel="stylesheet" href="static\intro.css">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon.ico">
</head>

<body>
  <header>
    <h1>Welcome to the Olympic Games</h1>

  </header>

  <div class="intro">
    <p>The Olympic Games bring together the best athletes from around the world to celebrate unity, sportsmanship,
      and excellence. Dive into the spirit of the Olympics and join us on this incredible journey.</p>
  </div>

  <div class="images-container">
    <img src="static/image.png" alt="Olympic Image 1">
    <img src="static/Indiaoly.png" alt="Olympic Image 2">
    <img src="static/ind2.png" alt="Olympic Image 3">
  </div>


  <div class="button-container">
    <a href="/Country_analysis" class="btn">Country Analyiss</a>
    <a href="/season_wise" class="btn2">Season Analyiss</a>
  </div>

  <footer>
    <div class="container">
      <!-- About Section -->
      <div>
        <h3>About Us</h3>
        <p>We are committed to delivering the best services and products to our customers. Your satisfaction is our
          priority.</p>
      </div>

      <!-- Quick Links -->
      <div>
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div>
        <h3>Contact Us</h3>
        <p>Email: deepkothari55@gmail.com</p>
        <p>Phone: 000000000</p>
        <div class="social-links">
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 LogX. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>